


@model IEnumerable<WebQuanAn.Models.CTHD>
@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json
@inject IHttpContextAccessor HttpContextAccessor



<div class="modal-body">
    @{ decimal? total = 0;
        int stt = 1;


<table class="table">
    <tr>
        <th>#</th>
        <th>Thực đơn</th>
        <th>Giá</th>
        <th>Số lượng</th>
        <th>Thành tiền</th>
        <th></th>
    </tr>
    @foreach (var cartitem in Model as IEnumerable<CTHD>)
    {
        var thanhtien = cartitem.SoLuong * cartitem.MaTdNavigation.Gia;
        total += thanhtien;

<tr>
    <td>@(stt++)</td>
    <td>@cartitem.MaTdNavigation.TenMon</td>
    <td>@(cartitem.MaTdNavigation.Gia.ToString("n0").Replace(",", "."))VND</td>
    <td>@cartitem.SoLuong</td>
    <td>@(thanhtien.ToString("n0").Replace(",", "."))  VND</td>

</tr>}
    <tr>
        <td colspan="4" class="text-right">Tổng tiền</td>
        <td><string>@(total?.ToString("n0").Replace(",", "."))  VND</string></td>
        <td></td>
    </tr>
</table> }
</div>
@{ var trangthai = (Model as IEnumerable<CTHD>).ElementAt(0).MaDhNavigation.TrangThai;
    var id = (Model as IEnumerable<CTHD>).ElementAt(0).MaDh;

  }
<div class="modal-footer">
    <div class="text-right">
        @if (trangthai == TrangThai._1)
        {
    <button type="button"  class="btn btn-sm btn-success" onclick="update(@id,2)" >&nbsp;Xác nhận</button>
           <button type="button"  class="btn btn-sm btn-info btn-warning" disabled><i class="fa fa-save"></i>&nbsp;Hoàn tất</button>
           <button type="button" class="btn btn-danger btn-sm" onclick="update(@id,4)"><i class="fa fa-close"></i>&nbsp;Huỷ đơn</button>}
        @if (trangthai == TrangThai._2)
        {
    <button type="button"  class="btn btn-sm btn-success " disabled>&nbsp;Xác nhận</button>
                    <button type="button"  class="btn btn-sm btn-warning" onclick="update(@id,3)"><i class="fa fa-save"></i>&nbsp;Hoàn tất</button>
                                    <button type="button" class="btn btn-danger btn-sm" id="btclose" disabled><i class="fa fa-close"></i>&nbsp;Huỷ đơn</button>}
        @if (trangthai == TrangThai._3||trangthai == TrangThai._4)
        {
    <button type="button"  class="btn btn-sm btn-success" disabled>&nbsp;Xác nhận</button>
    <button type="button" class="btn btn-sm btn-warning" disabled><i class="fa fa-save"></i>&nbsp;Hoàn tất</button>
    <button type="button" class="btn btn-danger btn-sm" id="btclose" disabled><i class="fa fa-close"></i>&nbsp;Huỷ đơn</button>}

    </div>

</div>




