


@model IPagedList<AdminUser>
@*import this so we get our HTML Helper*@
@using X.PagedList.Mvc.Core;


@using X.PagedList;
@using X.PagedList.Web.Common
<div id="list" >
   
    <div style="min-height:400px">
        <table class="table table table-striped table-bordered text-left w-100 " style="font-size:small">
            <thead class="bg-success">
                <tr>
                                        <th>
                        Id
                    </th>
                                         <th>
                        Ho
                    </th>
                                         <th>
                        Ten
                    </th>
                                         <th>
                        Email
                    </th>
                                         <th>
                        MatKhau
                    </th>
                                         <th>
                        Hinh
                    </th>
                                         <th>
                        SDT
                    </th>
                                         <th>
                        TrangThai
                    </th>
                                         
                    <th>ACTION</th>
                </tr>
            </thead>
            <tbody class="tbody">
                @foreach (var item in ViewBag.Names as IEnumerable<AdminUser>)
                {
                    <tr>
                                                     <td>@item.Id</td>
                                                      <td>@item.Ho</td>
                                                      <td>@item.Ten</td>
                                                      <td>@item.Email</td>
                                                      <td>@item.MatKhau</td>
                                                      <td>@item.Hinh</td>
                                                      <td>@item.SDT</td>
                                                      <td>@item.TrangThai</td>
                                                
                        <td><a class="btn btn-info btn-sm btn-sm active" onclick="Edit(@item.Id)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a> | <a class="btn btn-danger btn-sm active" onclick="_delete(@item.Id)"> <i class="fa fa-trash"></i></a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    
    
    <div class="text-right">
      
                        @{ 
                            var pageRender = new PagedListRenderOptions
                            {
                                MaximumPageNumbersToDisplay = 5,
                                DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
                                DisplayLinkToFirstPage = PagedListDisplayMode.Never,
                                DisplayLinkToLastPage = PagedListDisplayMode.Never,
                                DisplayLinkToNextPage = PagedListDisplayMode.Always,
                                DisplayPageCountAndCurrentLocation = false,
                                UlElementClasses = new[] { "pagination" },
                                LiElementClasses = new string[] { "page-item" },
                                PageClasses = new string[] { "page-link" },


                                ContainerDivClasses = new[] { "pagination-container" }


                            };
                         } 
         @{ 
            var searchModel = ViewBag.Data as AdminUserSearchModel;
        }
       
             
        @Html.PagedListPager((IPagedList<AdminUser>)ViewBag.Names, page => Url.Action("PageList", new { page, Ten  = searchModel.Ten,   SDT  = searchModel.SDT,  TrangThai  = searchModel.TrangThai }), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(pageRender, new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "nameListContainer" }))
    </div>
   



</div>






